<!DOCTYPE html>
<html>
<head>
    <title>Quora For Engineering Students</title>
    <nav class="navbar">
        <div class="container">
            <div class="navbar-header">
                <a href="/" class="navbar-brand" title="Home">Q E S</a>
            </div>
            <ul class="navbar-right">
                <li id="login"><a href="/logIn" title="Log in"><i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li id="signup"><a href="/signup" title="Sign up"><i class="fa-solid fa-user-plus"></i></a></li>
                <li id="signup"><a href="/logout" title="Log out"><i class="fa-solid fa-right-from-bracket"></i></a></li>
            </ul>
        </div>
    </nav>
<!--    style sheet-->
    <link rel="stylesheet" href="/css/styles.css">
<!--    font awesome-->
    <script src="https://kit.fontawesome.com/cba1af9f2e.js" crossorigin="anonymous"></script>
<!--    google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap" rel="stylesheet">
</head>
<body>
