<%- include("partials/header"); -%>

<section class="asksection">
    <form action="/askQuestion" method="post">
        <div class="askdivtitle">
            <h1>ASK YOUR QUESTION HERE!</h1>
        </div>
        <div class="askdivmain">
            <div class="asktitle">
                <h1>Title</h1>
                <input type="text" name="asktitle" required>
            </div>
            <div class="askques">
                <h1>Information</h1>
                <textarea name="askinfo" id="askinfo" cols="120" rows="10"></textarea>
            </div>
            <div class="askbtn">
                <button type="submit">Post <i class="fa-regular fa-hand-pointer"></i></button>
            </div>
        </div>
    </form>
</section>

<%- include("partials/footer"); -%>