<%- include("partials/header"); -%>
<section id="titleSec">
    <div class="section1">
        <h2>Quora For Engineering Students.</h2>
    </div>
    <div>
        <img src="/images/question.png" alt="">
    </div>
    <div class="section1p">
        <p>Find your answers here. Also help others with their questions!</p>
    </div>
</section>

<section id="section2">
    <div class="work1">
        <img src="/images/questionmark.png">
        <p>Ask your questions and doubts.</p>
    </div>
    <div class="work2">
        <img src="/images/chat.png">
        <p>Help others by answering to their questions.</p>
    </div>
    <div class="work3">
        <img src="/images/lightbulb.png">
        <p>Discuss your new ideas.</p>
    </div>
</section>

<section id="section3">
    <div class="last">
        <p>HAVE A QUESTION IN MIND RIGHT NOW?</p>
        <p><a href="/logIn" class="log" title="Log in">LOG IN <i class="fa-solid fa-right-to-bracket"></i></a></p>
        <p><a href="/signup" class="sign" title="Sign up">SIGN UP <i class="fa-solid fa-user-plus"></i></a></p>
    </div>
</section>

<section id="footer">
    <div class="footer">
        <a href="https://www.instagram.com/takeiteasyengineers/?hl=en"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://github.com/TakeItEasyEngineersInternships"><i class="fa-brands fa-github"></i></a>
        <a href="https://takeiteasyengineers.com/"><i class="fa-solid fa-globe"></i></a>
    </div>
</section>

<%- include("partials/footer"); -%>